# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
build/

# Tauri build
src-tauri/target/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.scratch/
tsconfig.tsbuildinfo

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
